In [21]:
a='M.Faizan'
b="Sheikh"
c=25 
d="MSc Maths"
print(f"My name is{a}, I am{c} with{d} from UoK")

My name isM.Faizan, I am25 withMSc Maths from UoK

In [20]:
a='M.Faizan'
b="Sheikh"
c=25
d="MSc Maths"
print(f"My name is {a}, I am {c} with {d} from UoK")

My name is M.Faizan, I am 25 with MSc Maths from UoK

In [38]:
f='ali'
b='ali'*4
c=4*'ali'
d=4*'ali'*4
d

'alialialialialialialialialialialialialialialiali'

In [33]:
a=4
b=2
c=a/b
c
c=a//b #just for integer output
c

2

In [18]:
name="ali"
age=15
print(f"my name is {name} and my age is {age}")#we don't need to write.formate,use 'f' after just starting bracket of print.

my name is ali and my age is 15

In [16]:
name="ali"
age=15
print("my name is {1} and my age is {0}".format(name,age))#0 and 1 is index value, by default it run respectively

my name is 15 and my age is ali

In [17]:
name="ali"
age=15
print("my name is {} and my age is {}".format(name,age))

my name is ali and my age is 15

In [13]:
name="ali"
age=15
print("my name is"+name+"and my age is"+str(age))

my name isaliand my age is15

In [1]:
print(2+int("100"))#it's called type casting or wrapping. (combining string with + is called concatination)
print(str(2)+"hello") #int and str can't add but can concatinate like 2hello, by making int into str.

102
2hello

In [10]:
print("aaaaa",end='\t') #by default new line is set, search step sequences like \t and \n, and use it(13) are there
print("bbbbb",end='\t')

aaaaa	bbbbb

In [9]:
print("hi", 5, 5.5,sep='===')#by default just a space

hi===5===5.5

In [4]:
print("Ahmed's bag") #print('Ahmed's bag') #error

Ahmed's bag

In [1]:
#Data Types
print("Hello") #string, always should be written in double or single quates
print(8) #integer
print(8.5) #float 
type("Hello")

Hello
8
8.5

str